:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

.synonyms {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 5px 20px 20px;
}

.synonym {
  padding: 5px 0;
  cursor: pointer;
  font-size: 15px;
}

.edited-text.bold {
  font-weight: bold;
}

.edited-text.italic {
  font-style: italic;
}

.edited-text.underline {
  text-decoration: underline;
}
